// app global css
// Gupter font also worthy!
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Saira+Semi+Condensed|Archivo+Narrow|Frank+Ruhl+Libre:500&display=swap')

text-shadow()
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   -moz-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   -webkit-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

#league-teams
   list-style-type: none; 
   columns: 4;
   -webkit-columns: 4;
   -moz-columns: 4;

.emoji
  font-size: 20px

.rope
   height: 5px;
// order of following two classes matters for the color of border
.bordered
   border: 1px solid #dee2e6 !important;

.border-bottom
   border-bottom: 1px solid #dee2e6 !important;

.border-right
   border-right: 1px solid #dee2e6 !important;

.border-left
   border-left: 1px solid #dee2e6 !important;

.border-x
   border-left: 1px solid #dee2e6 !important;
   border-right: 1px solid #dee2e6 !important;

.border-y
   border-top: 1px solid #dee2e6 !important;
   border-bottom: 1px solid #dee2e6 !important;
   
.border-dark
   border-color: #343a40 !important;

.border-primary
   border-color: $primary !important;

.bg-t-dark
   background-color: rgba(55,71,175,.4);

.bg-t-darker
  background-color: rgba(0, 31, 65, 0.55);

.bg-grass
   background-color: #008c0e;

.of-hidden
   overflow hidden

.d-block
   display: block !important;

.d-inline-block
   display: inline-block!important;

.team-thumbnail
   height: 25px;
   width: 25px;

.league-team-thumbnail
   height: 40px;
   width: 40px;

.person-thumbnail
  width: 30px;
  height: 30px;

#defending-champs
   width: 45px;

#team-header
   background-size: cover;
   text-shadow();

.fanBtns
  text-shadow()

.no-decor
   text-decoration: none;
   color: black;

.newsTitle
   font-family: 'Frank Ruhl Libre', serif
.newsTitle1
   font-family: 'Oswald', sans-serif
.newsBody1
   font-family: 'Lato', sans-serif
.newsBody2
   font-family: 'Archivo Narrow', sans-serif
   font-size: 1.1rem
.newsBody3
   font-family: 'Saira Semi Condensed', sans-serif
   font-size 1.1rem

.inline
   display inline

#trophy-table
   thead th
      vertical-align: bottom;

   td, th
      padding-left: .5rem;
      vertical-align: top;

// some Bootstrap CSS!
.w-25
   width: 25%!important;
.w-75
   width: 75%!important;
.w-50
   width: 50%!important;
.mw-100
   max-width: 100% !important;
.mh-100
   max-height: 100% !important;

.link:hover
   cursor pointer

.bg-dpassh
   background-color: #675042;


// .order-md-lg-1
//   @media (min-width: 1024px) and (max-width: 1440)
//     order: 1