// app global css

text-shadow()
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   -moz-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   -webkit-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

#league-teams
   list-style-type: none; 
   columns: 4;
   -webkit-columns: 4;
   -moz-columns: 4;
   
   li.picture-wrapper
      margin: auto;
      padding: 0.3rem 0;
      max-width: 50px;
      height: 50px;

.rope
   height: 5px;
// order of following two classes matters for the color of border
.border-bottom
   border-bottom: 1px solid #dee2e6 !important;

.border-right
   border-right: 1px solid #dee2e6 !important;

.border-left
   border-left: 1px solid #dee2e6 !important;

.border-x
   border-left: 1px solid $primary !important;
   border-right: 1px solid $primary !important;

.border-y
   border-top: 1px solid $primary !important;
   border-bottom: 1px solid $primary !important;
   
.border-dark
   border-color: #343a40 !important;

.border-primary
   border: 1px solid $primary !important;

.bg-t-dark
   background-color: rgba(55,71,175,.4);

.bg-t-darker
  background-color: rgba(0, 31, 65, 0.55);

.bg-grass
   background-color: #008c0e;

.d-inline-block
   display: inline-block!important;

#team-thumbnail
  width: 25px;
  height: 25px;

#team-header
   min-height: 375px;
   background-size: cover;
   text-shadow();

.w-75
   width: 75%!important;
.w-50
   width: 50%!important;

// some Bootstrap CSS!

.table
   width: 100%;
   max-width: 100%;
   // margin-bottom: 1rem;
   background-color: transparent;

   thead th
      vertical-align: bottom;