// app global css
#league-teams
   list-style-type: none; 
   columns: 4;
   -webkit-columns: 4;
   -moz-columns: 4;
   
   li.picture-wrapper
      margin: auto;
      padding: 0.3rem 0;
      max-width: 50px;
      height: 50px;

// order of following two classes matters for the color of border
.border-bottom
   border-bottom: 1px solid #dee2e6 !important;

.border-dark
   border-color: #343a40 !important;

.bg-t-dark
   background-color: rgba(55,71,175,.4);

.text-truncate
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;